__pycache__/pid.cpython-313.pyc
floater/__pycache__/control_orientation_monitor.cpython-313.pyc
floater/__pycache__/control.cpython-312.pyc
floater/__pycache__/control.cpython-313.pyc
floater/__pycache__/control.cpython-312.pyc
floater/__pycache__/control.cpython-312.pyc
floater/__pycache__/floater.cpython-313.pyc
floater/__pycache__/telemetry.cpython-313.pyc
floater/__pycache__/parts.cpython-312.pyc
floater/__pycache__/parts.cpython-312.pyc
